    #D__ID{
        background-color:#fff;
    }
    #toolbar__ID *{
        margin:0;
        padding:0;
        vertical-align:middle;
    }
    #toolbar__ID{
        padding:6px;
        background-color:#ddd;
        font-family: Helvetica, Arial, sans-serif;
        font-size:11pt;
        border-bottom: 1px solid #aaa;
    }
    #toolbar__ID a{
        background-color:#697b7b;
        border:0px solid #18ab29;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font: 9pt/30px Arial;
        padding-left:15px;
        padding-right:15px;
        text-decoration:none;
        text-shadow:1px 1px 0px #2f6627;
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        border-radius:8px;
        transition: all 0.2s ease-in-out;
    }
    #toolbar__ID a:hover {
    	    background-color:#525959;
    }
    .save_and_back__ID{
        background-color:#697b7b;
        border:0px solid #18ab29;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font: 9pt/30px Arial;
        padding-left:15px;
        padding-right:15px;
        text-decoration:none;
        text-shadow:1px 1px 0px #2f6627;
        -moz-border-radius:8px;
        -webkit-border-radius:8px;
        border-radius:8px;
        transition: all 0.2s ease-in-out;
    }
    .save_and_back__ID:hover {
    	    background-color:#525959;
    }
    .tab__ID{
        width:30px;
        display:inline-block;
    }
