#table_form__ID {width:100%;font-size:9pt; font-family:Verdana; margin:0px; border: 3px #B8BDBF solid; border-spacing:0; border-collapse: collapse; table-layout: automatic;}
#table_form__ID td{ border: 1px #B8BDBF solid; color: #333333; border-collapse: collapse; text-align: left; padding: 1px;padding-right:4px; vertical-align:top;}
#table_form__ID td:first-child{padding:3px;}
#table_form__ID input,textarea, select{ font-size:9pt!Important; font-family:Verdana!Important;}
#table_form__ID input[type=text],textarea{ margin:1px;padding:1px; border-style:inset; border-width:0px; width:100%;overflow:hidden;}
#table_fomn__ID input[type=checkbox]{margin:3px!Important;}
#table_form__ID textarea{height:36px;}
#table_form__ID td:first-child{padding-left:5px;}
#table_form__ID td:nth-child(2){vertical-align:middle;}
#table_form__ID label.error { float: none; color: red; vertical-align: top; }

.header__ID {background-color:#B8BDBF;color:#000;text-align:center!Important;font-size:22px;padding:12px!Important;}
.subheader__ID{background-color:#B8BDBF;color:#000!Important;text-align:left!Important;font-size:12px;}
.sel__ID{
    width: -moz-calc(100% - 120px)!Important;
    width: -webkit-calc(100% - 120px)!Important;
    width: calc(100% - 120px)!Important;
}
