#toolbar__ID *{
    margin:0;
    padding:0;
    vertical-align:middle;
}
#toolbar__ID{
    padding:6px;
    background-color:#ddd;
    font-family: Helvetica, Arial, sans-serif;
    font-size:11pt;
    border-bottom: 1px solid #aaa;
}
#toolbar__ID a{
    background-color:#697b7b;
    border:0px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font: 9pt/30px Arial;
    padding-left:15px;
    padding-right:15px;
    text-decoration:none;
    text-shadow:1px 1px 0px #2f6627;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    transition: all 0.2s ease-in-out;
}
#toolbar__ID a:hover {
  background-color:#525959;
}
.nav__ID{
    padding:6px 26px 6px 6px;
    color: #202727;
    display:table-cell;
}
.nav__ID li{
    cursor:pointer;
}
.nav__ID span{
    margin:3px;
    display:block;
    font-weight:700;
}
.nav__ID li{
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.nav__ID li:hover {
    background: #687A7B;
    color: #fff;
    cursor:pointer;
}
.nav__ID a{
    text-decoration: none;
}
.nav__ID a:hover{
    color: #fff!Important;
}
.nav__ID a:visited{
    color: black;
}
.nav__ID a:link{
    color: black;
}
.not_allowed__ID{
    color:#888!Important;
    cursor:not-allowed!Important;
}
.tab__ID{
    width:30px;
    display:inline-block;
}
